body{
	background-image:url("../../assets/images/building.jpg");
    background-repeat: repeat;
    background-size: 100%;
	text-align: center;
	color: white;
}

header{
	text-align: right;
	font-size: 50px;
	color: #ab0422;
	font-weight: bold;
/*	padding-right: 40px;
*/}

.main-container{
	margin: 0 auto;
	width: 1500px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}

h2{
	font-size: 30px;
}

.your-characters-image{
	display: inline-block;
	height: 165px;
	padding: 0px 15px 5px 15px;
	margin: 4px ;
	background-color: white;
	border: solid;
	border-color: #ab0422;
}

.your-characters-image p{
	text-align: center;
	font-size: 18px;
	color: black;
	margin: 0px 2px 0px 2px;
}

#chosen-characters-container{
	height: 215px;
}

.chosen-characters{
	border-color: white;
	background-color: red;
}

#defender-container{
	height: 280px;
}

#enemies-container{
	border-color: white
	background-color: blue;
}

.chosen-defenders{
	border-color: white;
	background-color: orange;
}
