body{
	background-image:url("../../assets/images/building2.jpeg");
    background-repeat: repeat;
    background-size: 100%;
	text-align: center;
	color: white;
}

header{
	text-align: right;
	font-size: 50px;
	color: #ab0422;
	font-weight: bold;
/*	padding-right: 40px;
*/}

.main-container{
	margin: 0 auto;
	width: 1500px;
    margin-top: 20px;
    margin-bottom: 40px;
}

h2{
	font-size: 30px;
}

.your-characters-image{
	display: inline-block;
	height: 165px;
	padding: 0px 15px 5px 15px;
	margin: 4px ;
	background-color: #ab0422;
	border: solid;
	border-color: black;
}

.your-characters-image:hover{	
	text-decoration: none;
}

.your-characters-image p{
	text-align: center;
	font-size: 18px;
	margin: 0px 2px 0px 2px;
}

#chosen-characters-container{
	height: 215px;
}

#defender-container{
	height: 280px;
}

.images{
	filter: grayscale(80%);
	transition: .2s ease-in-out;
}

.images:hover{
	filter: grayscale(0);
}

#attack-button{
	padding: 5px;
	background: green;
	margin: 10px 0px 10px 0px;
}